[submodule "modules/docker"]
	path = modules/docker
	url = https://github.com/SolsticeOps/SolsticeOps-docker.git
[submodule "modules/jenkins"]
	path = modules/jenkins
	url = https://github.com/SolsticeOps/SolsticeOps-jenkins.git
[submodule "modules/ollama"]
	path = modules/ollama
	url = https://github.com/SolsticeOps/SolsticeOps-OLLAMA.git
