[submodule "modules/docker"]
	path = modules/docker
	url = https://github.com/SolsticeOps/SolsticeOps-docker.git
[submodule "modules/jenkins"]
	path = modules/jenkins
	url = https://github.com/SolsticeOps/SolsticeOps-jenkins.git
[submodule "modules/ollama"]
	path = modules/ollama
	url = https://github.com/SolsticeOps/SolsticeOps-OLLAMA.git
[submodule "modules/k8s"]
	path = modules/k8s
	url = https://github.com/SolsticeOps/SolsticeOps-k8s.git
